<html>
<head>
    <link rel="stylesheet" href="http://localhost:9090/GnH/GuestAndHost/guestandhost/web/bundles/vendor/bootstrap/css/bootstrap.min.css">
</head>




<body style="background: #f6f6f6; color: #2c3e50; margin: 0; padding: 0;">



<table class="wrapper" style="background: #fff; border-spacing: 0; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; width: 100%; height: 100%">
    <tr>
        <td colspan="2"><center><h1 style="color: #2c3e50; font-size: 46px;">Facture</h1></center></td>

    </tr>
    <tr>
        <td colspan="2"><hr></td>

    </tr>


    <tr>


        <td>

            <img src="http://localhost:9090/uprofils/{{ img[r.id]|first }}" alt="" style="max-width: 90%;">

        </td>

        <td style="font-size: 18px">

            <p class="listing__param"  style="width: 400px">Type Maison: <strong>{{ r.idAnnonce.typeMaison }}</strong></p>
            <p class="listing__param">Type Logement: <strong>{{ r.idAnnonce.typeLogement }}</strong></p>
            <p class="listing__param">Pays: <strong>{{ r.idAnnonce.idPays }}</strong></p>
            <p class="listing__param">Ville: <strong>{{ r.idAnnonce.ville }}</strong></p>
            <p class="listing__param">Nombre voyageur: <strong>{{ r.idAnnonce.nombreVoyageur }}</strong></p>
            <p class="listing__param">Nombre chambre: <strong>{{ r.idAnnonce.nombreChambre }}</strong></p>
            <p class="listing__param">Date debut: <strong>{{ r.idAnnonce.dateDebut|date('d-m-Y') }}</strong></p>
            <p class="listing__param">Date fin: <strong>{{ r.idAnnonce.dateFin|date('d-m-Y') }}</strong></p>
        </td>
    </tr>

    <tr>
        <td colspan="2"><hr></td>

    </tr>

    <tr>

        <td colspan="3"><center><h1 style="color: #2c3e50; font-size: 30px;">D&eacutetails r&eacuteservation</h1>
                <h6 style="color: #2c3e50;">&eacuteffectu&eacute le: {{ r.dateDemande|date('d-m-Y à h:m:s') }}</h6></center></td>
    </tr>


    <tr>
        <td colspan="2"><hr></td>

    </tr>


    <tr>

        <td style="font-size: 18px"><center>
            <p class="listing__param"  style="width: 400px">R&eacuteference: <strong>REF{{ r.id }}</strong></p>
            <p class="listing__param">Date Arriv&eacutee: <strong>{{ r.dateDebut|date('d-m-Y') }}</strong></p>
            <p class="listing__param">Nombre nuit&eacutee(s): <strong>{{ r.nbNuite }} nuit&eacutee(s)</strong></p>
                </center>

        </td>

        <td style="font-size: 18px">
            <center>
            <p class="listing__param">Site marchant: <strong>Host&Guest</strong></p>

            <p class="listing__param">Date D&eacutepart: <strong>{{ r.dateFin|date('d-m-Y') }}</strong></p>

            <p class="listing__param">Prix nuit&eacutees: <strong>{{ r.prixNuite }}</strong></p>
            </center>
        </td>

    </tr>

    <tr>
        <td colspan="3" style="font-size: 20px">
           <center> <p  class="listing__param"style="font-size: 20px"><strong>Montant pay&eacute: {{ r.prix }}</strong></p></center>
        </td>
    </tr>

    <tr>
        <td colspan="2"><hr></td>

    </tr>

    <tr>
        <td colspan="3" >
            <center>
                <p>Factur&eacute &agrave: ARYIAK.
                    2037 Esprit,
                    Ariana, Tunisie<br><a href="#" style="color: #2c3e50;">Merci pour votre confiance</a></p>
            </center>
        </td>
    </tr>

</table>
</body>



</html>















